node_red/ultrasonic_mqtt_flow.json
[{"id":"79c6bd04.7b19f4","type":"tab","label":"Ultrasonic mqtt","disabled":false,"info":""},{"id":"3e59f7b6.d15798","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":350,"y":260,"wires":[]},{"id":"8a023dcd.a6e1c","type":"rpi-srf","z":"79c6bd04.7b19f4","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","precision":"0","x":110,"y":100,"wires":[["9145ba0d.670448"]]},{"id":"faa9575b.ea0c18","type":"comment","z":"79c6bd04.7b19f4","name":"Subscribe to a topic","info":"youtube - Simple Node-RED and MQTT Tutorial\nchannel - Learn Robotics\n\nin terminal you can use this command to subscribe to a Topic \n\nmosquitto_sub -t topic/ultrasonic_sensor","x":170,"y":200,"wires":[]},{"id":"d9c59e1.76c2b6","type":"comment","z":"79c6bd04.7b19f4","name":"Publish to a topic - broker","info":"","x":190,"y":40,"wires":[]},{"id":"6f45acb2.cd8554","type":"mqtt out","z":"79c6bd04.7b19f4","name":"publish mqtt","topic":"topic/ultrasonic_sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3bb6bd8b.d72ce2","x":470,"y":100,"wires":[]},{"id":"d3f57d2a.cf8ca","type":"mqtt in","z":"79c6bd04.7b19f4","name":"subscribe mqtt","topic":"topic/ultrasonic_sensor","qos":"2","datatype":"auto","broker":"3bb6bd8b.d72ce2","nl":false,"rap":true,"rh":0,"x":120,"y":260,"wires":[[]]},{"id":"9145ba0d.670448","type":"function","z":"79c6bd04.7b19f4","name":"format distance","func":"var distance = msg.payload;\n\nmsg.payload = {\n    // distance: distance + \" cm\"\n    distance: distance\n};\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["6f45acb2.cd8554"]]},{"id":"854544ec.1179e8","type":"comment","z":"79c6bd04.7b19f4","name":"Subscribe to a topic and upload to the firebase","info":"youtube - Simple Node-RED and MQTT Tutorial\nchannel - Learn Robotics\n\nin terminal you can use this command to subscribe to a Topic \n\nmosquitto_sub -t topic/ultrasonic_sensor","x":230,"y":380,"wires":[]},{"id":"4dc47d6.713da84","type":"mqtt in","z":"79c6bd04.7b19f4","name":"subscribe mqtt","topic":"topic/ultrasonic_sensor","qos":"2","datatype":"auto","broker":"3bb6bd8b.d72ce2","nl":false,"rap":true,"rh":0,"x":120,"y":440,"wires":[["3ffdf9a8.eb7596"]]},{"id":"158c3c10.b88584","type":"function","z":"79c6bd04.7b19f4","name":"Threshold","func":"var distanceStr = msg.payload.distance; // to access data {\"distance\" : \"67 cm\"}\n\nvar distance = parseFloat(distanceStr);\n\nvar binHitThreshold = 10; // waste detected <= threshold cm\n\n// var condition = distance < binHitThreshold\n// msg.payload = condition;\n// return msg;\n\nif(distance < binHitThreshold){\n    msg.payload = distance;\n    return msg; //pass msg to next node\n}else{\n    return null; // else do nothing\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[[]]},{"id":"1f442de3.510602","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"3ffdf9a8.eb7596","type":"json","z":"79c6bd04.7b19f4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":440,"wires":[["158c3c10.b88584"]]},{"id":"ef136fb0.be059","type":"comment","z":"79c6bd04.7b19f4","name":"","info":"The JSON node is important for converting the string into JSON object so that we can access specific data with key like msg.payload.distance\n\n","x":280,"y":500,"wires":[]},{"id":"61590c9e.52e934","type":"firebase modify","z":"79c6bd04.7b19f4","name":"firebase_modify - send data to firebase","firebaseconfig":"","childpath":"data/test","method":"push","value":"msg.payload","priority":"msg.priority","x":690,"y":520,"wires":[[]]},{"id":"872144f0.538c18","type":"mqtt in","z":"79c6bd04.7b19f4","name":"subscribe mqtt1 ultrasonic","topic":"topic/ultrasonic_sensor","qos":"2","datatype":"auto","broker":"3bb6bd8b.d72ce2","nl":false,"rap":true,"rh":0,"x":130,"y":760,"wires":[["fbc33ae.55a4ec8"]]},{"id":"6f6863f6.e9bf6c","type":"mqtt in","z":"79c6bd04.7b19f4","name":"subscribe mqtt2 timestamp","topic":"topic/timestamp","qos":"2","datatype":"auto","broker":"3bb6bd8b.d72ce2","nl":false,"rap":true,"rh":0,"x":130,"y":820,"wires":[["bcdfc8e8.17ae78"]]},{"id":"781c6831.ccdac8","type":"comment","z":"79c6bd04.7b19f4","name":"Subscribe to multiple topic (different sensor/category), format into JSON object and upload to the firebase","info":"youtube - Simple Node-RED and MQTT Tutorial\nchannel - Learn Robotics\n\nin terminal you can use this command to subscribe to a Topic \n\nmosquitto_sub -t topic/ultrasonic_sensor","x":420,"y":640,"wires":[]},{"id":"fbc33ae.55a4ec8","type":"json","z":"79c6bd04.7b19f4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":760,"wires":[["1f4f60c4.5c4f7f"]]},{"id":"47e30539.472c7c","type":"function","z":"79c6bd04.7b19f4","name":"Combine and format","func":"var ultrasonicDistance = global.get('distance');\n\nvar timestamp = global.get('timestamp');\n// var timestamp = new Date().toISOString();\n\n// check if all sensors reported their data\nif(ultrasonicDistance && timestamp){\n    \n    msg.payload = {\n        \"timestamp\" : timestamp,\n        \"distance\" : ultrasonicDistance,\n        \"sensors\": {\n            \"ultrasonic\" : {\n                \"distance\" : ultrasonicDistance\n            }\n        }\n    };\n    \n    // clear flow context for next round of data collection\n    // flow.set('ultrasonicDistance', null);\n    global.set('distance', null);\n    global.set('timestamp', null);\n    \n    return msg;\n    \n}else{\n    // node.warn(\"waiting for all sensor data\");\n    return null;\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":920,"wires":[["8710bfe7.64d6d"]]},{"id":"bcd8f8bd.e46a98","type":"mqtt out","z":"79c6bd04.7b19f4","name":"publish mqtt timestamp","topic":"topic/timestamp","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3bb6bd8b.d72ce2","x":390,"y":700,"wires":[]},{"id":"bf1dc937.60a2e8","type":"inject","z":"79c6bd04.7b19f4","name":"inject timestamp","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":700,"wires":[["bcd8f8bd.e46a98"]]},{"id":"2d9cba2b.3d0986","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":920,"wires":[]},{"id":"1f4f60c4.5c4f7f","type":"function","z":"79c6bd04.7b19f4","name":"add data into global context","func":"global.set('distance', msg.payload.distance);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":760,"wires":[[]]},{"id":"56db21a6.358f3","type":"inject","z":"79c6bd04.7b19f4","name":"","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","x":110,"y":920,"wires":[["47e30539.472c7c"]]},{"id":"25109c04.d78124","type":"comment","z":"79c6bd04.7b19f4","name":"get data and upload it","info":"Retrieved data from flow context every 10 seconds (as specify in the inject node), combines it into JSON formatted object then display it.","x":240,"y":980,"wires":[]},{"id":"854e1bda.236608","type":"comment","z":"79c6bd04.7b19f4","name":"","info":"stores data into the flow context.\n\nNote that each key must be unique such as msg.payload.distance or msg.payload.timestamp\n\nyou can refer to publish function or inject timestamp for formatting msg.payload string. ","x":800,"y":760,"wires":[]},{"id":"8676811a.73f1c","type":"firebase modify","z":"79c6bd04.7b19f4","name":"firebase_modify - send data to firebase","firebaseconfig":"","childpath":"data/test","method":"push","value":"msg.payload","priority":"msg.priority","x":910,"y":1000,"wires":[[]]},{"id":"8710bfe7.64d6d","type":"function","z":"79c6bd04.7b19f4","name":"Threshold","func":"var data = msg.payload;\n\nvar distanceStr = data.sensors.ultrasonic.distance; // to access data {\"distance\" : \"67 cm\"}\n\nvar distance = parseFloat(distanceStr);\n\nvar binHitThreshold = 20; // waste detected <= threshold cm\n\nif(distance < binHitThreshold){\n    return msg; //pass msg\n}else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":920,"wires":[["2d9cba2b.3d0986"]]},{"id":"bcdfc8e8.17ae78","type":"json","z":"79c6bd04.7b19f4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":820,"wires":[["74d536d5.c04ce8"]]},{"id":"74d536d5.c04ce8","type":"function","z":"79c6bd04.7b19f4","name":"add data into global context","func":"global.set('timestamp', msg.payload.timestamp);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":820,"wires":[[]]},{"id":"55644560.2c29ac","type":"comment","z":"79c6bd04.7b19f4","name":"important","info":"You cannot connect different (2 or more) mqtt subsribe at once to json or add data into flow/global contex node. if doing so, each mqtt node will be process in sequential. ","x":800,"y":820,"wires":[]},{"id":"26cab353.97765c","type":"comment","z":"79c6bd04.7b19f4","name":"camera -> classification -> cloud","info":"1. trigger to take picture (temporarily)\n2. runing classification model\n3. perform action\n4. upload image to firebase storage\n5. upload image url of firebase storage url and classification label in realtime database","x":300,"y":1160,"wires":[]},{"id":"f1c7a619.0a5d98","type":"inject","z":"79c6bd04.7b19f4","name":"Trigger picture","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":1220,"wires":[["6bfd3f00.14601"]]},{"id":"6bfd3f00.14601","type":"exec","z":"79c6bd04.7b19f4","command":"source /home/pi/Desktop/waste_classification/capture_and_classify.sh","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec camera_capture.py script","x":390,"y":1220,"wires":[["84f1e9b7.724ad8","a6d0f570.c9e548"],["84f1e9b7.724ad8","a6d0f570.c9e548"],["84f1e9b7.724ad8"]]},{"id":"84f1e9b7.724ad8","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":1140,"wires":[]},{"id":"a6d0f570.c9e548","type":"function","z":"79c6bd04.7b19f4","name":"","func":"var lines = msg.payload.split(\"\\n\");\n\nvar imagePath = null;\nvar classificationResult = null;\nvar confidenceLevel = null;\n\nlines.forEach(function(line){\n    if(line.startsWith(\"image_path: \")){\n        imagePath = line.replace(\"image_path: \", \"\").trim();\n    }\n    if(line.startsWith(\"classification_result: \")){\n        classificationResult = line.replace(\"classification_result: \", \"\").trim();\n    }\n    if(line.startsWith(\"confidence_level:\")){\n        confidenceLevel = line.replace(\"confidence_level: \", \"\").trim();\n    }\n})\n\nmsg.payload = {\n    imagePath: imagePath,\n    classificationResult: classificationResult,\n    confidenceLevel: confidenceLevel\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1220,"wires":[["b2696fbc.cdba8"]]},{"id":"b2696fbc.cdba8","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":1220,"wires":[]},{"id":"3bb6bd8b.d72ce2","type":"mqtt-broker","name":"publish","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]