node_red/ultrasonic_mqtt_flow.json
[{"id":"79c6bd04.7b19f4","type":"tab","label":"Ultrasonic mqtt","disabled":false,"info":""},{"id":"3e59f7b6.d15798","type":"debug","z":"79c6bd04.7b19f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":370,"y":260,"wires":[]},{"id":"8a023dcd.a6e1c","type":"rpi-srf","z":"79c6bd04.7b19f4","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","precision":"0","x":110,"y":100,"wires":[["9145ba0d.670448"]]},{"id":"faa9575b.ea0c18","type":"comment","z":"79c6bd04.7b19f4","name":"Subscribe to a topic","info":"youtube - Simple Node-RED and MQTT Tutorial\nchannel - Learn Robotics\n\nin terminal you can use this command to subscribe to a Topic \n\nmosquitto_sub -t topic/ultrasonic_sensor","x":170,"y":200,"wires":[]},{"id":"d9c59e1.76c2b6","type":"comment","z":"79c6bd04.7b19f4","name":"Publish to a topic - broker","info":"","x":190,"y":40,"wires":[]},{"id":"6f45acb2.cd8554","type":"mqtt out","z":"79c6bd04.7b19f4","name":"publish mqtt","topic":"topic/ultrasonic_sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3bb6bd8b.d72ce2","x":470,"y":100,"wires":[]},{"id":"d3f57d2a.cf8ca","type":"mqtt in","z":"79c6bd04.7b19f4","name":"subscribe mqtt","topic":"topic/ultrasonic_sensor","qos":"2","datatype":"auto","broker":"3bb6bd8b.d72ce2","nl":false,"rap":true,"rh":0,"x":140,"y":260,"wires":[["3e59f7b6.d15798"]]},{"id":"9145ba0d.670448","type":"function","z":"79c6bd04.7b19f4","name":"format distance","func":"var distance = msg.payload;\n\nmsg.payload = {\n    distance: distance + \" cm\"\n};\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["6f45acb2.cd8554"]]},{"id":"3bb6bd8b.d72ce2","type":"mqtt-broker","name":"publish","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]